<!DOCTYPE html>
<html lang="es" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Tecnología y desarrollo web,servicios para desarrollo web, agencia de desarrollo web,Servicios de Tecnología. creación de página web. servicios ofrecidos en IT">
    <meta name="keywords"
        content="web, diseño, desarrollo,empresa, agencia, programación, marcas, digital, marketing, tecnología, web services, profesionales, emprendedores.">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="../../static/css/master.css">
    <link rel="stylesheet" href="../../static/css/nosotros.css">
    <link rel="stylesheet" href="../../static/css/queHacemos.css">
    <link rel="stylesheet" href="../../static/css/servicios.css">
    <link rel="stylesheet" href="../../static/css/clientes.css">
    <link rel="stylesheet" href="../../static/css/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    
    
    <title>It Services Web</title>

</head>

<body>

    <header>

        <div class="container-header">
            <div class="container-logo">
                <a class="logo" href="index.html">
                    <img class="logo-movil" src="../../static/img/logonuevo.png" alt="itsw" />
                </a>
            </div>
            <div class="container-menu">
                <nav class="nav">

                    <!--botón hamburguesa menú-->
                    <button class="nav-toggle" aria-label="Abrir Menú">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    <div class="nav-menu">
                        <!--botón cerrar menú-->
                        <div class="container-head-menu">
                            <div class="container-btn-cierre">
                                <div>
                                    <button id="cerrar-menu" class="btn-cierre" aria-label="Cerrar Menú">
                                        <i class="fa-solid fa-xmark" style="color: #37433A;"></i>
                                    </button>
                                </div>
                            </div>


                        </div>

                        <ul>
                            <li class="nav-menu-item"><a href="#que-nosotros" class="nav-link">Nosotros</a></li>
                            <li class="nav-menu-item"><a href="#que-hacemos" class="nav-link">Lo que Hacemos</a></li>
                            <li class="nav-menu-item"><a href="#servicios" class="nav-link">Servicios</a></li>
                            <li class="nav-menu-item"><a href="#clientes" class="nav-link">Clientes</a></li>
                            <li class="nav-menu-item"><a href="#contacto" class="nav-link ">Contacto</a></li>
                            <li class="nav-menu-item"><a href="../admin/" class="nav-link " target="_blank">Admin</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>