{% include 'admin/cabecera.html' %}

<div class="p-5">
  <div class="container">
    <h1 class="display">¡Bienvenid@ al Administrador de Usuario!</h1>
    <p>Estamos emocionados de tenerte como administrador. Tu dedicación y habilidades son fundamentales para el éxito de nuestra comunidad en línea.
     <br>En el Administrador de Usuario, tendrás acceso a herramientas poderosas para gestionar y optimizar la experiencia
      de los usuarios.</p>
     <br>
    <p>¡Comencemos a hacer cosas asombrosas juntos!</p>
    <p class="lead"></p>

    <hr class="my-2">

    <div class="row">
      <div class="col-12">
        <img src="/static/img/admin.png" class="img-fluid w-100" alt="Imagen">
      </div>
    </div>
  </div>
</div>


{% include 'admin/pie.html' %}